<div class="container-login">
  <div class="container ">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-xl-5 mx-auto">
        <div class="card card-signin">
          <h3 class="card-title text-center">Sign in</h3>
          <form method="POST" action="/auth/login" class=" pt-5 pb-5 pl-3 pr-3 border">
            {{#if err}}
            {{#each err}}
            <div class="alert alert-danger" role="alert">
              {{this}}
            </div>
            {{/each}}
            {{/if}}
            <div class="form-group ">
              <label for="exampleInputEmail1">Email address</label>
              <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter email" required="required" value={{email}}>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="pass" type="password" class="form-control" id="password" placeholder="Password"
                required="required" value={{pass}}>
            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">Login</button>
              <a href="/user/create">Đăng kí</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
