<div class="container mt-4 ">
    <h1 class="text-center">Create Notification</h1>
    <form method="POST" action="/admin/store/notifications">
        <div class="form-group mt-5">
            <label for="exampleFormControlTextarea1">Nhập nội dung</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="ND..."
                name="notification"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>